name: Avaliacao 2 Iac

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Instalar PHP
        run: |
          sudo apt-get update
          sudo apt-get install -y php

      - name: Verificar versão do PHP
        run: php -v

      - name: Validar sintaxe
        run: find . -name "*.php" -print0 | xargs -0 -n1 php -l